/03-01-2024-Лекция_01._Основные_понятия_и_определения (1).pdf
/03-01-2024-Лекция_02._Семантическое_моделирование_и_реляционная_алгебра (2).pdf
/03-01-2024-Лекция_03._Реляционная_алгебра (2).pdf
/03-01-2024-Лекция_04._Реляционное_исчисление (1).pdf
/03-01-2024-Лекция_05._Об_эквивалентности_реляционнои__алгебры_и_исчисления_кортежеи_ (1).pdf
/03-01-2024-Лекция_06._Функциональные_зависимости (2).pdf
/03-01-2024-Лекция_07._Теория_проектирования_реляционных_баз_данных__.pdf
/03-01-2024-Лекция_08._Транзакции_и_уровни_изоляции.pdf
/03-01-2024-Лекция_09._Блокировки.pdf
/03-01-2024-Лекция_10._Журнализация.pdf
/03-01-2024-Лекция_11._Безопасность_и_Аудит.pdf
/03-01-2024-Лекция_12.__Big_Data._Hadoop._MapReduce.pdf
/03-01-2024-Семинар_01._SQL_DDL (2).pdf
/03-01-2024-Семинар_02._SQL_DML (2).pdf
/03-01-2024-Семинар_03._Подзапросы_и_джои_ны.pdf
/03-01-2024-Семинар_04._Операции_над_множествами___практика.pdf
/03-01-2024-Семинар_05._Оконные_функции.pdf
/03-01-2024-Семинар_06._Функции_и_процедуры.pdf
/03-01-2024-Семинар_07._Триггеры_и_курсоры.pdf
/03-01-2024-Семинар_08._Индексы__партиционирование_и_сегментирование.pdf
/03-01-2024-Семинар_09._План_выполнения_запроса (1).pdf
/03-01-2024-Семинар_10._MPP_и_колоночное_хранение.pdf
/03-01-2024-Семинар_11._ETL_и_ELT.pdf
/03-01-2024-Семинар_13._In_Memory_DB.pdf
/03-01-2024-Семинар_14._Redis (1).pdf